@import "../general.module";

.scssHeader {
  position: fixed;
  background-color: $footerBgColor;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  color: $footerTextColor;
  font-size: 2vh;
}
