$pink: #ff78af;
$primary: $pink;

$Header-Padding-Top: 60px;
$Max-NavBreak-Width: 500px;
$Next-NavBreak-Width: 270px;
$Final-NavBreak-Width: 190px;

$SiteName-Author-Delimiter: "☆";
$After-Author-Decorator: "♪(^∇^*)";
