@import "src/styles/custom_vars";

.literature-main {
  text-shadow: 3px 3px 5px rgba(black, 0.6);
  padding: 1rem;
}

.literature-timer {
  font-size: 8rem;
}

.literature-quote {
  width: 60vw;
  font-size: 1.5rem;
}

.literature-time-case {
  font-size: 2.4rem;
}

.literature-author {
  font-size: 1rem;
}

@media screen and (max-width: $Max-NavBreak-Width) {
  .literature-quote {
    display: none;
  }
}
